﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte na stránkách pro organizaci sportovních událostí</h1>
</div>

<div class="row">
    <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis tortor purus, ut venenatis mi sollicitudin vitae. Curabitur nec vehicula lacus. Ut a neque lobortis, mattis ipsum eu, fermentum nibh. Etiam viverra dolor id convallis pretium. Sed dapibus dolor purus, eu posuere tortor rhoncus a. Nunc dignissim consequat turpis, cursus sodales ipsum sagittis vel. Nunc rutrum gravida orci imperdiet gravida. Donec porta porta tempor. Donec a nisi gravida, dignissim magna eget, imperdiet orci. Duis vehicula id nulla varius maximus. Sed rhoncus, neque sit amet ullamcorper pellentesque, ligula lacus maximus risus, vitae egestas lacus arcu sed odio.</a>
</div>