﻿@page
@model SportsEventManager.Web.Pages.OrderModel
@{
    <div class="col-lg-1">
        <form asp-page-handler="Submit" method="post">
            <button class="btn btn-default">Submit</button>
        </form>
    </div>
}
